html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #ff4d4d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > h1 {
  text-align: center;
  text-transform: uppercase;
}

nav {
  padding: 1rem 0;
  max-height: 3.5rem;
  width: 40%;
  height: 20vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.navbar > li {
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
}

.navbar > li:hover {
  border-bottom: 2.5px solid #fab1a0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px 0;
  width: 100%;
  background: white;
  box-shadow: 20px 20px 0 black;
}

figure > header {
  font-size: 1.5rem;
}

.image-container {
  margin: 0 auto;
  max-height: 55vh;
  width: 85%;
  overflow: hidden;
  font-size: 0;
}
.image-container > img {
  width: 100%;
}
