html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background: #ff4d4d;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > h1 {
  text-align: center;
  text-transform: uppercase;
}

.backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
}

.modal {
  display: none;
  padding: 1rem;
  border: 1px solid #ccc;
  width: 50%;
  max-width: 550px;
  position: fixed;
  top: 10%;
  z-index: 200;
  background: white;
  box-shadow: 20px 20px 0 black;
}

.modal__title {
  text-align: center;
}

.modal__title > h1 {
  margin: 0;
}

.modal__form {
  padding: 1rem;
  margin: auto;
}

.modal__form label,
.modal__form input {
  display: block;
  margin-top: 1rem;
  width: 100%;
}

.modal__form > label {
  font-weight: bold;
}

.modal__form input {
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font-family: inherit;
}

.modal__form__actions {
  margin-top: 30px;
  text-align: right;
}

.modal__form__action {
  text-decoration: none;
  color: white;
  font-family: inherit;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.negative {
  border: 1px solid red;
  background-color: red;
}
.negative:hover {
  border-color: #ff5454;
  background: #ff5454;
}

.positive {
  border: 1px solid #0e4f1f;
  background-color: #0e4f1f;
}
.positive:hover {
  border-color: #2ddf5c;
  background: #2ddf5c;
}

.main-hearder {
  margin: 1rem 0 0 0;
}

nav {
  padding: 1rem 0;
  max-height: 3.5rem;
  width: 45%;
  height: 20vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.navbar > li {
  cursor: pointer;
  color: white;
  font-size: 1.25rem;
}

.navbar > li:hover {
  border-bottom: 2.5px solid #fab1a0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  text-align: center;
}

figure {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px 0;
  width: 100%;
  background: white;
  box-shadow: 20px 20px 0 black;
}

figure > header {
  font-size: 1.5rem;
}

.image-container {
  margin: 0 auto;
  max-height: 50vh;
  width: 85%;
  overflow: hidden;
  font-size: 0;
}
.image-container > img {
  width: 100%;
}

.admin {
  margin-top: 30px;
}

.admin__button {
  border: 1px solid black;
  width: 8rem;
  height: 3rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1rem;
  box-shadow: 10px 10px 0 black;
}

.admin__button:hover {
  border: 1px solid black;
  background-color: #eb2f06;
  color: white;
  cursor: pointer;
}
